.p4{
    background-color:#FFE600;
}
.textcolor{
    color: rgb(243, 243, 230);
}
.customButton{
    background-color:#FFE600;
    border-radius:20px;
    
}
.blackColor{
    background-color: rgb(46, 46, 46);
}
